<form [formGroup]="form">
<h1 mat-dialog-title>Create treatment</h1>
<div style="margin-top: 10px; margin-bottom: 10px;">

    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput matTextareaAutosize formControlName="description"></textarea>
        <mat-error *ngIf="form.controls['description'].hasError('required')">
            Description is required
        </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill" #doctorSingleSelect>
        <mat-label>Doctor</mat-label>
        <mat-select ngDefaultControl formControlName="doctor">
            <mat-option>
                <ngx-mat-select-search [formControl]="doctorFilterCtrl"
                                       [placeholderLabel]="'Search'"
                                       [noEntriesFoundLabel]="'Not found'"></ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let doctor of filteredDoctors | async" [value]="doctor.id">
                {{doctor.firstName + ' ' + doctor.lastName}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls['doctor'].hasError('required')">
            Doctor is required
        </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Patient</mat-label>
        <input matInput readonly
               [value]="data.patient.firstName + ' ' + data.patient.lastName"/>
    </mat-form-field>

    <div class="row">
        <mat-form-field class="full-width col-sm" appearance="fill">
            <mat-label>Tooth name</mat-label>
            <input matInput readonly
                   [value]="data.tooth.scientificName"/>
        </mat-form-field>
        <mat-form-field class="full-width col-sm" appearance="fill">
            <mat-label>Tooth code</mat-label>
            <input matInput readonly
                   [value]="data.tooth.numericCode"/>
        </mat-form-field>
        <mat-form-field class="full-width col-sm" appearance="fill">
            <mat-label>Tooth is extracted</mat-label>
            <mat-select formControlName="toothExtracted">
                <mat-option [value]="true">Yes</mat-option>
                <mat-option [value]="false">No</mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls['toothExtracted'].hasError('required')">
                Tooth is required
            </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width col-sm" appearance="fill">
            <mat-label>Price</mat-label>
            <input matInput type="number" formControlName="price"/>
            <mat-error *ngIf="form.controls['price'].hasError('required')">
                Price is required
            </mat-error>
        </mat-form-field>
    </div>

    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Close</button>
        <button mat-button (click)="onSubmit()" [disabled]="form.invalid">Submit</button>
    </div>
</div>
</form>
