<div fxLayout="row" fxLayoutAlign="center none" style="margin-top: 2%">

    <div fxFlex="95%">
        <app-mwl-demo-utils-calendar-header [(view)]="view" [(viewDate)]="viewDate"
                                        (viewDateChange)="closeOpenMonthViewDay()">
        </app-mwl-demo-utils-calendar-header>

        <mat-card>
            <ng-template #customCellTemplate let-day="day" let-locale="locale">
                <div class="cal-cell-top">
                    <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
                    <span class="cal-day-number">
                    {{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
                </div>
                <small style="margin: 5px">There are {{ day.events.length }} events on this day</small>
            </ng-template>

            <button mat-raised-button color="primary" style="margin-bottom: 10px;" (click)="openCreateAppointmentDialog()">Create appointment</button>

            <div [ngSwitch]="view">
                <mwl-calendar-month-view
                        *ngSwitchCase="CalendarView.Month"
                        [viewDate]="viewDate"
                        [events]="events"
                        [refresh]="refresh"
                        [activeDayIsOpen]="activeDayIsOpen"
                        (dayClicked)="dayClicked($event.day)"
                        (eventClicked)="viewAppointment($event.event)"
                        (eventTimesChanged)="eventTimesChanged($event)"
                        (columnHeaderClicked)="clickedColumn = $event.isoDayNumber"
                >
                </mwl-calendar-month-view>
                <mwl-calendar-week-view
                        *ngSwitchCase="CalendarView.Week"
                        [viewDate]="viewDate"
                        [events]="events"
                        [refresh]="refresh"
                        (eventClicked)="viewAppointment($event.event)"
                        (eventTimesChanged)="eventTimesChanged($event)"
                        (dayHeaderClicked)="weekDayClicked($event.day.date)"
                        (hourSegmentClicked)="weekDayClicked($event.date)"
                >
                </mwl-calendar-week-view>
                <mwl-calendar-day-view
                        *ngSwitchCase="CalendarView.Day"
                        [viewDate]="viewDate"
                        [events]="events"
                        [refresh]="refresh"
                        (eventClicked)="viewAppointment($event.event)"
                        (eventTimesChanged)="eventTimesChanged($event)"
                        (hourSegmentClicked)="weekDayClicked($event.date)"
                        [dayStartHour]="6"
                        [dayEndHour]="20"
                >
                </mwl-calendar-day-view>
            </div>
        </mat-card>
        <br>
        <br>

    </div>
</div>
<ng-template #modalContent let-close="close">
    <div class="modal-header">
        <h5 class="modal-title">Event action occurred</h5>
        <button type="button" class="close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div>
            Action:
            <pre>{{ modalData?.action }}</pre>
        </div>
        <div>
            Event:
            <pre>{{ modalData?.event | json }}</pre>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="close()">
            OK
        </button>
    </div>
</ng-template>
