<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">

    <div fxFlex="50%" fxFlex.sm="95%" fxFlex.xs="950%" fxLayoutAlign="end">

        <table>
            <tr>
                <td><button class="teeth" mat-button><img src="assets/teeth/1.png" alt="teeth"></button></td>
                <td><button class="teeth" mat-button><img src="assets/teeth/2.png" alt="teeth"></button></td>
                <td><button class="teeth" mat-button><img src="assets/teeth/3.png" alt="teeth"></button></td>
                <td><button class="teeth" mat-button><img src="assets/teeth/4.png" alt="teeth"></button></td>
                <td><button class="teeth" mat-button><img src="assets/teeth/5.png" alt="teeth"></button></td>
                <td><button class="teeth" mat-button><img src="assets/teeth/6.png" alt="teeth"></button></td>
                <td><button class="teeth" mat-button><img src="assets/teeth/7.png" alt="teeth"></button></td>
                <td><button class="teeth" mat-button><img src="assets/teeth/8.png" alt="teeth"></button></td>
            </tr>
            <mat-divider></mat-divider>
            <tr>
                <td><button class="teeth" mat-button><img src="assets/teeth/32.png" alt="teeth"></button></td>
                <td><button class="teeth" mat-button><img src="assets/teeth/31.png" alt="teeth"></button></td>
                <td><button class="teeth" mat-button><img src="assets/teeth/30.png" alt="teeth"></button></td>
                <td><button class="teeth" mat-button><img src="assets/teeth/29.png" alt="teeth"></button></td>
                <td><button class="teeth" mat-button><img src="assets/teeth/28.png" alt="teeth"></button></td>
                <td><button class="teeth" mat-button><img src="assets/teeth/27.png" alt="teeth"></button></td>
                <td><button class="teeth" mat-button><img src="assets/teeth/26.png" alt="teeth"></button></td>
                <td align="right"><button class="teeth" mat-button><img src="assets/teeth/25.png" alt="teeth"></button></td>
            </tr>
        </table>
    </div>

    <div fxFlex="50%" fxFlex.sm="95%" fxFlex.xs="950%">
        <table>
            <tr>
                <td><button class="teeth" mat-button><img src="assets/teeth/9.png" alt="teeth"></button></td>
                <td><button class="teeth" mat-button><img src="assets/teeth/10.png" alt="teeth"></button></td>
                <td><button class="teeth" mat-button><img src="assets/teeth/11.png" alt="teeth"></button></td>
                <td><button class="teeth" mat-button><img src="assets/teeth/12.png" alt="teeth"></button></td>
                <td><button class="teeth" mat-button><img src="assets/teeth/13.png" alt="teeth"></button></td>
                <td><button class="teeth" mat-button><img src="assets/teeth/14.png" alt="teeth"></button></td>
                <td><button class="teeth" mat-button><img src="assets/teeth/15.png" alt="teeth"></button></td>
                <td><button class="teeth" mat-button><img src="assets/teeth/16.png" alt="teeth"></button></td>
            </tr>
            <mat-divider></mat-divider>
            <tr>
                <td><button class="teeth" mat-button><img src="assets/teeth/24.png" alt="teeth"></button></td>
                <td><button class="teeth" mat-button><img src="assets/teeth/23.png" alt="teeth"></button></td>
                <td><button class="teeth" mat-button><img src="assets/teeth/22.png" alt="teeth"></button></td>
                <td><button class="teeth" mat-button><img src="assets/teeth/21.png" alt="teeth"></button></td>
                <td><button class="teeth" mat-button><img src="assets/teeth/20.png" alt="teeth"></button></td>
                <td><button class="teeth" mat-button><img src="assets/teeth/19.png" alt="teeth"></button></td>
                <td><button class="teeth" mat-button><img src="assets/teeth/18.png" alt="teeth"></button></td>
                <td><button class="teeth" mat-button><img src="assets/teeth/17.png" alt="teeth"></button></td>
            </tr>
        </table>
    </div>

</div>
