<div style="margin-top: 10px;" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="95%">

        <mat-card>
            <mat-card-content>
                <h2>Doctors</h2>

                <mat-form-field appearance="standard">
                    <mat-label>Filter</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
                </mat-form-field>

                <table mat-table [dataSource]="dataSource" matSort>

                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> id </th>
                        <td mat-cell *matCellDef="let doctor"> {{doctor.id}} </td>
                    </ng-container>

                    <ng-container matColumnDef="firstName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> first name </th>
                        <td mat-cell *matCellDef="let doctor"> {{doctor.firstName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="lastName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> last name </th>
                        <td mat-cell *matCellDef="let doctor"> {{doctor.lastName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="username">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> username </th>
                        <td mat-cell *matCellDef="let doctor"> {{doctor.username}} </td>
                    </ng-container>

                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> email </th>
                        <td mat-cell *matCellDef="let doctor"> {{doctor.email}} </td>
                    </ng-container>

                    <ng-container matColumnDef="gender">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> gender </th>
                        <td mat-cell *matCellDef="let doctor"> {{doctor.gender}} </td>
                    </ng-container>

                    <ng-container matColumnDef="authorities">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> authorities </th>
                        <td mat-cell *matCellDef="let doctor"> {{doctor.authorities}} </td>
                    </ng-container>

                    <ng-container matColumnDef="mobile">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> mobile </th>
                        <td mat-cell *matCellDef="let doctor"> {{doctor.telephoneNumber}} </td>
                    </ng-container>

                    <ng-container matColumnDef="specialty">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> specialty </th>
                        <td mat-cell *matCellDef="let doctor"> {{doctor.specialty}} </td>
                    </ng-container>

                    <ng-container matColumnDef="enabled">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> enabled </th>
                        <td mat-cell *matCellDef="let doctor"> {{doctor.enabled ? "Yes" : "No"}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>

            </mat-card-content>
        </mat-card>


    </div>
</div>
