<h1 mat-dialog-title>Create appointment</h1>
<div style="margin-top: 10px; margin-bottom: 10px;">
    <div class="row">
        <mat-form-field class="full-width col-10" appearance="fill">
            <mat-label>Title</mat-label>
            <input matInput [(ngModel)]="data.appointment.title"/>
        </mat-form-field>
        <mat-form-field class="full-width col-2" appearance="fill">
            <mat-label>Color</mat-label>
            <input matInput type="color" [(ngModel)]="data.appointment.color.primary"/>
        </mat-form-field>
    </div>

    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Details</mat-label>
        <textarea matInput matTextareaAutosize
                  [(ngModel)]="data.appointment.details"
        ></textarea>
    </mat-form-field>

<!--    <div *ngIf="data.appointment.existingPatient">-->
<!--        <div class="row">-->
<!--            <mat-form-field class="full-width col-sm" appearance="fill" #singleSelect>-->
<!--                <mat-label>Patient</mat-label>-->
<!--                <mat-select [formControl]="patientCtrl" [(ngModel)]="data.appointment.patientId">-->
<!--                    <mat-option>-->
<!--                        <ngx-mat-select-search [formControl]="patientFilterCtrl"-->
<!--                                               [placeholderLabel]="'Search'"-->
<!--                                               [noEntriesFoundLabel]="'Not found'"></ngx-mat-select-search>-->
<!--                    </mat-option>-->
<!--                    <mat-option *ngFor="let patient of filteredPatients | async" [value]="patient.id">-->
<!--                        {{patient.firstName + ' ' + patient.lastName}}-->
<!--                    </mat-option>-->
<!--                </mat-select>-->
<!--            </mat-form-field>-->
<!--        </div>-->
<!--    </div>-->

    <mat-form-field class="full-width" appearance="fill" #doctorSingleSelect>
        <mat-label>Doctor</mat-label>
        <mat-select [formControl]="doctorCtrl" [(ngModel)]="data.appointment.doctorId" >
                                <mat-option>
                                    <ngx-mat-select-search [formControl]="doctorFilterCtrl"
                                                           [placeholderLabel]="'Search'"
                                                           [noEntriesFoundLabel]="'Not found'"></ngx-mat-select-search>
                                </mat-option>
            <mat-option *ngFor="let doctor of filteredDoctors | async" [value]="doctor.id">
                {{doctor.firstName + ' ' + doctor.lastName}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div class="row">
        <mat-form-field class="full-width col-sm" appearance="fill">
            <mat-label>Start date</mat-label>
            <input
                    matInput
                    mwlFlatpickr
                    [(ngModel)]="data.appointment.start"
                    [altInput]="true"
                    [convertModelValue]="true"
                    [enableTime]="true"
                    [time24hr]="true"
                    dateFormat="Y-m-dTH:i"
                    altFormat="F j, Y H:i"
                    placeholder="Not set"
            />
        </mat-form-field>

        <mat-form-field class="full-width col-sm" appearance="fill">
            <mat-label>End date</mat-label>
            <input
                    matInput
                    mwlFlatpickr
                    [(ngModel)]="data.appointment.end"
                    [altInput]="true"
                    [convertModelValue]="true"
                    [enableTime]="true"
                    [time24hr]="true"
                    [minDate]="data.appointment.start"
                    dateFormat="Y-m-dTH:i"
                    altFormat="F j, Y H:i"
                    placeholder="Not set"
            />
        </mat-form-field>
    </div>

    <section class="example-section">
        <mat-radio-group [(ngModel)]="data.appointment.existingPatient">
            <mat-radio-button [value]="true" style="margin-right: 5px">Existing Patient
            </mat-radio-button>
            <mat-radio-button [value]="false">New Patient
            </mat-radio-button>
        </mat-radio-group>
    </section>

    <div *ngIf="data.appointment.existingPatient">
        <div class="row">
            <mat-form-field class="full-width col-sm" appearance="fill" #patientSingleSelect>
                <mat-label>Patient</mat-label>
                <mat-select [formControl]="patientCtrl" [(ngModel)]="data.appointment.patientId">
                    <mat-option>
                        <ngx-mat-select-search [formControl]="patientFilterCtrl"
                                               [placeholderLabel]="'Search'"
                                               [noEntriesFoundLabel]="'Not found'"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let patient of filteredPatients | async" [value]="patient.id">
                        {{patient.firstName + ' ' + patient.lastName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div *ngIf="!data.appointment.existingPatient">
        <div class="row">
            <mat-form-field class="full-width col-sm" appearance="fill">
                <mat-label>Patient's first name</mat-label>
                <input matInput [(ngModel)]="data.appointment.patientFirstName"/>
            </mat-form-field>

            <mat-form-field class="full-width col-sm" appearance="fill">
                <mat-label>Patient's last name</mat-label>
                <input matInput [(ngModel)]="data.appointment.patientLastName"/>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field class="full-width col-sm" appearance="fill">
                <mat-label>Patient's phone number</mat-label>
                <input matInput [(ngModel)]="data.appointment.patientPhoneNumber"/>
            </mat-form-field>
            <mat-form-field class="full-width col-sm" appearance="fill">
                <mat-label>Patient's birth date</mat-label>
                <input
                        matInput
                        mwlFlatpickr
                        [(ngModel)]="data.appointment.patientBirthDate"
                        [altInput]="true"
                        [convertModelValue]="true"
                        [enableTime]="false"
                        dateFormat="Y-m-d"
                        altFormat="F j, Y"
                        placeholder="Not set"
                />
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="full-width col-sm" appearance="fill">
                <mat-label>Source</mat-label>
                <input matInput [(ngModel)]="data.appointment.patientSource"/>
            </mat-form-field>
        </div>
    </div>

    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Close</button>
        <button mat-button (click)="onSubmit()">Submit</button>
    </div>
</div>
