<form [formGroup]="form">
<h1 mat-dialog-title>Create appointment</h1>
<div style="margin-top: 10px; margin-bottom: 10px;">
    <div class="row">
        <mat-form-field class="full-width col-10" appearance="fill">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title" />
            <mat-error *ngIf="form.controls['title'].hasError('required')">
                Title is required
            </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width col-2" appearance="fill">
            <mat-label>Color</mat-label>
            <input matInput type="color" formControlName="color" />
        </mat-form-field>
    </div>

    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Details</mat-label>
        <textarea matInput matTextareaAutosize formControlName="details"></textarea>
        <mat-error *ngIf="form.controls['details'].hasError('required')">
            Details is required
        </mat-error>
    </mat-form-field>

<!--    <div *ngIf="data.appointment.existingPatient">-->
<!--        <div class="row">-->
<!--            <mat-form-field class="full-width col-sm" appearance="fill" #singleSelect>-->
<!--                <mat-label>Patient</mat-label>-->
<!--                <mat-select [formControl]="patientCtrl" [(ngModel)]="data.appointment.patientId">-->
<!--                    <mat-option>-->
<!--                        <ngx-mat-select-search [formControl]="patientFilterCtrl"-->
<!--                                               [placeholderLabel]="'Search'"-->
<!--                                               [noEntriesFoundLabel]="'Not found'"></ngx-mat-select-search>-->
<!--                    </mat-option>-->
<!--                    <mat-option *ngFor="let patient of filteredPatients | async" [value]="patient.id">-->
<!--                        {{patient.firstName + ' ' + patient.lastName}}-->
<!--                    </mat-option>-->
<!--                </mat-select>-->
<!--            </mat-form-field>-->
<!--        </div>-->
<!--    </div>-->

    <mat-form-field class="full-width" appearance="fill" #doctorSingleSelect>
        <mat-label>Doctor</mat-label>
        <mat-select  formControlName="doctor" ngDefaultControl>
                                <mat-option>
                                    <ngx-mat-select-search [formControl]="doctorFilterCtrl" ngDefaultControl
                                                           [placeholderLabel]="'Search'"
                                                           [noEntriesFoundLabel]="'Not found'"></ngx-mat-select-search>
                                </mat-option>
            <mat-option *ngFor="let doctor of filteredDoctors | async" [value]="doctor.id">
                {{doctor.firstName + ' ' + doctor.lastName}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls['doctor'].hasError('required')">
            Doctor is required
        </mat-error>
    </mat-form-field>

    <div class="row">
        <mat-form-field class="full-width col-sm" appearance="fill">
            <mat-label>Start date</mat-label>
            <input
                    matInput
                    mwlFlatpickr
                    formControlName="startDate"
                    [altInput]="true"
                    [convertModelValue]="true"
                    [enableTime]="true"
                    [time24hr]="true"
                    dateFormat="Y-m-dTH:i"
                    altFormat="F j, Y H:i"
                    placeholder="Not set"
            />
            <mat-error *ngIf="form.controls['startDate'].hasError('required')">
                Start date is required
            </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width col-sm" appearance="fill">
            <mat-label>End date</mat-label>
            <input
                    matInput
                    mwlFlatpickr
                    formControlName="endDate"
                    [altInput]="true"
                    [convertModelValue]="true"
                    [enableTime]="true"
                    [time24hr]="true"
                    [minDate]="data.appointment.start"
                    dateFormat="Y-m-dTH:i"
                    altFormat="F j, Y H:i"
                    placeholder="Not set"
            />
            <mat-error *ngIf="form.controls['endDate'].hasError('required')">
                End date is required
            </mat-error>
        </mat-form-field>
    </div>

    <section class="example-section">
        <mat-radio-group formControlName="existingPatient" (change)="onPatientTypeChange()">
            <mat-radio-button [value]="true" style="margin-right: 5px">Existing Patient
            </mat-radio-button>
            <mat-radio-button [value]="false">New Patient
            </mat-radio-button>
        </mat-radio-group>
    </section>

    <div *ngIf="data.appointment.existingPatient">
        <div class="row">
            <mat-form-field class="full-width col-10" appearance="fill" #patientSingleSelect>
                <mat-label>Patient</mat-label>
                <mat-select formControlName="patient" ngDefaultControl>
                    <mat-option>
                        <ngx-mat-select-search [formControl]="patientFilterCtrl"
                                               [placeholderLabel]="'Search'"
                                               [noEntriesFoundLabel]="'Not found'"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let patient of filteredPatients | async" [value]="patient.id">
                        {{patient.firstName + ' ' + patient.lastName}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="form.controls['patient'].hasError('required')">
                    Patient is required
                </mat-error>
            </mat-form-field>
            <ng-container class="full-width col-2">
                <button mat-button label="View patient"
                        (click)="viewPatient(data.appointment.patientId)" [hidden]="!data.appointment.patientId"><i class="material-icons">pageview</i></button>
            </ng-container>
        </div>
    </div>

    <div *ngIf="!data.appointment.existingPatient">
        <div class="row">
            <mat-form-field class="full-width col-sm" appearance="fill">
                <mat-label>Patient's first name</mat-label>
                <input matInput formControlName="patientFirstName" />
                <mat-error *ngIf="form.controls['patientFirstName'].hasError('required')">
                    First name is required
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width col-sm" appearance="fill">
                <mat-label>Patient's last name</mat-label>
                <input matInput formControlName="patientLastName"/>
                <mat-error *ngIf="form.controls['patientLastName'].hasError('required')">
                    Last name is required
                </mat-error>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field class="full-width col-sm" appearance="fill">
                <mat-label>Patient's phone number</mat-label>
                <input matInput  formControlName="patientPhoneNumber"/>
                <mat-error *ngIf="form.controls['patientPhoneNumber'].hasError('required')">
                    Phone number is required
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width col-sm" appearance="fill">
                <mat-label>Patient's birth date</mat-label>
                <input
                        matInput
                        mwlFlatpickr
                        formControlName="patientBirthDate"
                        [altInput]="true"
                        [convertModelValue]="true"
                        [enableTime]="false"
                        dateFormat="Y-m-d"
                        altFormat="F j, Y"
                        placeholder="Not set"
                />
                <mat-error *ngIf="form.controls['patientBirthDate'].hasError('required')">
                    Birthdate is required
                </mat-error>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="full-width col-sm" appearance="fill">
                <mat-label>Source</mat-label>
                <input matInput formControlName="patientSource" />
                <mat-error *ngIf="form.controls['patientSource'].hasError('required')">
                    Birthdate is required
                </mat-error>
            </mat-form-field>
        </div>
    </div>

    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Close</button>
        <button mat-button (click)="onSubmit()" [disabled]="form.invalid">Submit</button>
    </div>
</div>
</form>
